# wmllint: no translatables

    [textdomain]
        name="wesnoth-SE"
        path="data/add-ons/Snow_Era/translations"
    [/textdomain]

#ifdef MULTIPLAYER

#textdomain wesnoth-SE
    [binary_path]
        path=data/add-ons/Snow_Era/
    [/binary_path]

    {~add-ons/Snow_Era/resource.cfg}
    {~add-ons/Snow_Era/settings.cfg}

    {~add-ons/Snow_Era/utils/}
    {~add-ons/Snow_Era/era.cfg}
    {~add-ons/Snow_Era/factions/}

    [units]
        {~add-ons/Snow_Era/races.cfg}
        {~add-ons/Snow_Era/units/}
        {~add-ons/Snow_Era/units/keepers/}
    [/units]
#endif


