#textdomain wesnoth-multiplayer

[era]
    id=Snow_Era
    name= _ "Snow Era"
    description=_""
    require_era=yes

    {~add-ons/Snow_Era/factions/keepers.cfg}
    {~add-ons/Snow_Era/factions/invaders.cfg}
[/era]

