#define SE_TERRAIN_EVENT 

    [event]
    name=prestart 

    [if]

    {VARIABLE_CONDITIONAL SE_Terrain equals yes}

    [then]
        [terrain]
            [and]
                terrain=G*,G*^*,Rb,Re
            [/and]
            terrain=Aa
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Rr*,Rr*^*
            [/and]
            terrain=Rra
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Wwf
            [/and]
            terrain=Ai
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=H*,H*^*
            [/and]
            terrain=Ha
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=M*,M*^*
            [/and]
            terrain=Ms
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fet
            [/and]
            terrain=^Feta
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fp
            [/and]
            terrain=^Fpa
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fms
            [/and]
            terrain=^Fma
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vo
            [/and]
            terrain=^Voa
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Ve
            [/and]
            terrain=^Vea
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vh
            [/and]
            terrain=^Vha
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vhcr
            [/and]
            terrain=^Vhca
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vhh
            [/and]
            terrain=^Vhha
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vd
            [/and]
            terrain=^Vka
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vc
            [/and]
            terrain=^Vca
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vl
            [/and]
            terrain=^Vla
            layer=overlay
        [/terrain]

        [terrain]
            [and]
                terrain=Ch,Ch^*
            [/and]
            terrain=Cha
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kh,Kh^*
            [/and]
            terrain=Kha
            layer=base
        [/terrain]

        [terrain]
            [and]
                terrain=Ce,Ce^*
            [/and]
            terrain=Cea
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Ke,Ke^*
            [/and]
            terrain=Kea
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Cv,Cv^*
            [/and]
            terrain=Cva
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kv,Kv^*
            [/and]
            terrain=Kva
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Cud,Cf,Cud^*,Cf^*
            [/and]
            terrain=Cfa
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kud,Kf,Kud^*,Kf^*
            [/and]
            terrain=Kfa
            layer=base
        [/terrain]
        [redraw][/redraw]
    [/then]
    [/if]
    [/event]
#enddef

[resource]
    id=SE_resource
    
    {SE_TERRAIN_EVENT}
    [event]
        name=unit hits
        id=se_slow_smoke_attack
        first_time_only=no 
        [filter_attack]
            special_id=se_slow_smoke
        [/filter_attack]
        
        # search if there is smoke. If there is, we'll refresh it
        # otherwise will add a new smoke entry
        {VARIABLE loc_found false}
        [foreach]
            array=slow_smoked_hexes
            readonly=no
            [do]
                [if]
                    [variable]
                        name=x2
                        equals=$this_item.x
                    [/variable]
                    [and]
                        [variable]
                            name=y2
                            equals=$this_item.y
                        [/variable]
                    [/and]
                    [then]
                        {VARIABLE loc_found true}
                        [inspect][/inspect]
                        {VARIABLE slow_smoked_hexes[$i].side $side_number}
                        {VARIABLE slow_smoked_hexes[$i].turn $turn_number}
                        [inspect][/inspect]
                        [break][/break]
                    [/then]
                [/if]
            [/do]
        [/foreach]
        [inspect][/inspect]
        [if]
            [variable]
                name=loc_found
                boolean_equals=false
            [/variable]
            [then]
                [set_variables]
                    name=slow_smoked_hexes
                    mode=append
                    [value]
                        x=$x2
                        y=$y2
                        side=$side_number
                        turn=$turn_number
                    [/value]
                [/set_variables]
                [item]
                    x=$x2
                    y=$y2
                    name=slow_smoke_halo
                    image=halo/smoke.png
                [/item]
            [/then]
        [/if]
        {CLEAR_VARIABLE loc_found}
    [/event]
    
    [event]
        name=enter hex
        id=se_slow_smoke_enter_hex
        first_time_only=no 
        [filter]
            [filter_location]
                find_in=slow_smoked_hexes
            [/filter_location]
        [/filter]
        [harm_unit]
            [filter]
                find_in=unit
            [/filter]
            amount=0
            slowed=yes
            animate=yes
            [cancel_action]
            [/cancel_action]
        [/harm_unit]
    [/event]
    
    [event]
        name=turn refresh
        first_time_only=no
        {VARIABLE turn_number_m_1 "$($turn_number-1)"}
        {VARIABLE i 0}
        [while]
            [variable]
                name=i
                less_than=$slow_smoked_hexes.length
            [/variable]
            
            [do]
                [if]
                    [variable]
                        name=turn_number_m_1
                        greater_than=$slow_smoked_hexes[$i].turn
                    [/variable]
                    [or]
                        [variable]
                            name=turn_number
                            greater_than=$slow_smoked_hexes[$i].turn
                        [/variable]
                        [and]
                            [variable]
                                name=side_number
                                greater_than_equal_to=$slow_smoked_hexes[$i].turn
                            [/variable]
                        [/and]
                    [/or]
                    [then]
                        [remove_item]
                            x=$slow_smoked_hexes[$i].x
                            y=$slow_smoked_hexes[$i].y
                            name=slow_smoke_halo
                            image=halo/smoke.png
                        [/remove_item]
                        {CLEAR_VARIABLE slow_smoked_hexes[$i]}
                        {VARIABLE_OP i sub 1}
                    [/then]
                [/if]
                {VARIABLE_OP i add 1}
            [/do]
        [/while]
        {CLEAR_VARIABLE i}
        {CLEAR_VARIABLE turn_number_m_1}
    [/event]
[/resource]

