#define SE_TERRAIN_EVENT 

    [event]
    name=prestart 

    [if]

    {VARIABLE_CONDITIONAL SE_Terrain equals yes}

    [then]
        [terrain]
            [and]
                terrain=G*,G*^*,Rb,Re
            [/and]
            terrain=Aa
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Rr*,Rr*^*
            [/and]
            terrain=Rra
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Wwf
            [/and]
            terrain=Ai
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=H*,H*^*
            [/and]
            terrain=Ha
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=M*,M*^*
            [/and]
            terrain=Ms
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fet
            [/and]
            terrain=^Feta
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fp
            [/and]
            terrain=^Fpa
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fms
            [/and]
            terrain=^Fma
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vo
            [/and]
            terrain=^Voa
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Ve
            [/and]
            terrain=^Vea
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vh
            [/and]
            terrain=^Vha
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vhcr
            [/and]
            terrain=^Vhca
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vhh
            [/and]
            terrain=^Vhha
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vd
            [/and]
            terrain=^Vka
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vc
            [/and]
            terrain=^Vca
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Fdf
            [/and]
            terrain=^Fda
            layer=overlay
        [/terrain]
        [terrain]
            [and]
                terrain=*^Vl
            [/and]
            terrain=^Vla
            layer=overlay
        [/terrain]

        [terrain]
            [and]
                terrain=Ch,Ch^*
            [/and]
            terrain=Cha
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kh,Kh^*
            [/and]
            terrain=Kha
            layer=base
        [/terrain]

        [terrain]
            [and]
                terrain=Ce,Ce^*
            [/and]
            terrain=Cea
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Ke,Ke^*
            [/and]
            terrain=Kea
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Cv,Cv^*
            [/and]
            terrain=Cva
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kv,Kv^*
            [/and]
            terrain=Kva
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Cud,Cf,Cud^*,Cf^*
            [/and]
            terrain=Cfa
            layer=base
        [/terrain]
        [terrain]
            [and]
                terrain=Kud,Kf,Kud^*,Kf^*
            [/and]
            terrain=Kfa
            layer=base
        [/terrain]
        [redraw][/redraw]
    [/then]
    [/if]
    [/event]
#enddef

[resource]
    id=SE_resource
    
    {SE_TERRAIN_EVENT}
    [event]
        name=attack
        id=se_slow_smoke_attack
        first_time_only=no 
        [filter_attack]
            special_id=se_slow_smoke
        [/filter_attack]

        [set_variables]
		name=slow_smoked
		mode=append
		[value]
			x=$x2
			y=$y2
			side=$side_number
			turn=$turn_number
		[/value]
	[/set_variables]
    [/event]
[/resource]

