#textdomain wesnoth-SE

#define SE_CUSTOM_SETTINGS
    [options]
        [checkbox]
            id=SE_Terrain
            default=no
            name="Winter Terrain"
            description="Replaces all map terrain with equals, but winter-themed."
        [/checkbox]
    [/options]
#enddef
