#textdomain wesnoth-SE
[multiplayer_side]
    id=invaders
    name= _"Invaders"
    image="units/orcs-snow/grunt2.png"
    description=""
    type=random
    leader=SE_Orcish_Grunt2, SE_Orcish_Grunt2b, SE_Troll2, SE_Troll2b
    recruit=SE_Orcish_Grunt, SE_Troll, SE_Goblin_Cannon, SE_Orcish_Airship
[/multiplayer_side]
