#textdomain wesnoth-SE
[multiplayer_side]
    id=invaders
    name= _"Invaders"
    image="units/monsters/Yeti.png"
    description=""
    type=random
    leader=Yeti
    recruit=Orcish Grunt, Orcish Archer, Yeti, Orcish Assassin, Wolf Rider, Troll Whelp
[/multiplayer_side]
