#textdomain wesnoth-SE
[multiplayer_side]
    id=invaders
    name= _"Invaders"
    image="units/orcs-snow/grunt2.png"
    description=""
    type=random
    leader=SE_Orcish_Grunt2
    recruit=SE_Orcish_Grunt
[/multiplayer_side]
