#textdomain wesnoth-SE
[multiplayer_side]
    id=keepers
    name= _"Keepers"
    image="units/elves-wood/ranger.png"
    description= _ "Heirs of the ancient elvish civilization, the Keepers consider themselves the last bastion of the green world amidst the icy wastelands. To survive, they had to set aside their bows and master the new weapons of humans and dwarves. The Keepers' armies rely on high individual skill and marksmanship, with magic serving as their heavy artillery."
    type=random
    leader=SE_Elvish_Captain,SE_Elvish_Marksman,SE_Elvish_Ranger
    recruit=SE_Elvish_Rifleman, SE_Mage, Wose, SE_Elvish_Shaman, SE_Elvish_Scout
[/multiplayer_side]
