#textdomain wesnoth-SE
[unit_type]
    id=SE_Troll
    name= _ "Troll Machine Gunner"
    race=troll
    gender=male
    image="units/trolls-snow/troll.png"
    hitpoints=40
    movement_type=largefoot
    movement=4
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=50
    level=1
    alignment=chaotic
    advances_to=SE_Troll2
    cost=20
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:TROLL_DIE}

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    [attack]
        name=bash
        description=_"bash"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=8
        number=1
    [/attack]

    [attack]
        name=machine gun
        description=_"machine gun"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=5
        number=5
    [/attack]

    {DEFENSE_ANIM "units/trolls-snow/troll.png" "units/trolls-snow/troll.png" {SOUND_LIST:TROLL_HIT}}

    {MELEE_ANIM "bush" mace.ogg {SOUND_LIST:MISS}}
    {MACHINE_GUN_ANIM "machine gun"}
[/unit_type]
