#textdomain wesnoth-SE
[unit_type]
    id=SE_Troll3b
    name= _ "Troll Elite Stormtrooper"
    race=troll
    gender=male
    image="units/trolls-snow/troll3b.png"
    hitpoints=69
    movement_type=largefoot
    movement=5
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=150
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=45
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:TROLL_DIE}

    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]

    [attack]
        name=bash
        description=_"bash"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]

    [attack]
        name=bomb
        description=_"bomb"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=20
        number=2
    [/attack]

    {DEFENSE_ANIM "units/trolls-snow/troll3b.png" "units/trolls-snow/troll3b.png" {SOUND_LIST:TROLL_HIT}}

    {MELEE_ANIM "bash" mace.ogg {SOUND_LIST:MISS}}
    {GRENADE_ANIM "bomb" {SOUND_LIST:MISS}}
[/unit_type]
