#textdomain wesnoth-SE

[unit_type]
    id=SE_Goblin_Cannon3
    name= _ "Orcish Storm Hotvizer"
    race=mechanical
    image="units/orcs-machines/cannon3.png"
    hitpoints=67
    [resistance]
        blade=60 
        pierce=60
    [/resistance]
    movement_type=orcishfoot
    [defense]
        shallow_water=80
        reef=80
        swamp_water=70
        flat=80
        sand=80
        forest=60
        hills=70
        mountains=70
        village=80
        castle=80
        cave=80
        frozen=80
        fungus=70
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    movement=4
    experience=150
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=55
    usage=archer
    description= _ ""
    die_sound=mace.ogg

    {DEFENSE_ANIM "units/orcs-machines/cannon3.png" "units/orcs-machines/cannon3.png" mace.ogg }

    [attack]
        name=cannon
        description=_"gas screen"
        icon=attacks/blank-attack.png	
        type=impact
        range=ranged
        damage=9
        number=3
    [/attack]
    [attack]
        name=cannon
        description=_"cannon"
        icon=attacks/blank-attack.png	
        type=impact
        range=ranged
        damage=20
        number=2
    [/attack]

    {CANNON_ANIM cannon {SOUND_LIST:HOTVIZER} {SOUND_LIST:HOTVIZER} explosion.ogg}
[/unit_type]