#textdomain wesnoth-SE
[unit_type]
    id=SE_Orcish_Grunt
    name= _ "Orcish Grunt"
    race=orc
    gender=male
    image="units/orcs-snow/grunt.png"
    hitpoints=36
    movement_type=orcishfoot
    movement=5
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=32
    level=1
    alignment=chaotic
    advances_to=SE_Orcish_Grunt2,SE_Orcish_Grunt2b
    cost=13
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=trench club
        description=_"trench club"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=6
        number=3
    [/attack]

    {DEFENSE_ANIM "units/orcs-snow/grunt.png" "units/orcs-snow/grunt.png" {SOUND_LIST:ORC_HIT}}

    {MELEE_ANIM "trench club" club.ogg {SOUND_LIST:MISS}}
[/unit_type]
