#textdomain wesnoth-SE
[unit_type]
    id=SE_Orcish_Grunt2b
    name= _ "Orcish Gunner"
    race=orc
    gender=male
    image="units/orcs-snow/grunt2b.png"
    hitpoints=46
    movement_type=orcishfoot
    movement=5
    [trait]
        id=unpoisonable
        availability="musthave"
        male_name= _ "immune to poison"
        female_name= _ "female^immune to poison"
        description= _ "Immune to poison"
        help_text= _ "Naga Vipers developed a notable immunity to poison due to constant contact with the poisoned arrows they use."
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
    [/trait]
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=100
    level=2
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=26
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=bayonet
        description=_"bayonet"
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=9
        number=2
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=10
        number=3
    [/attack]

    {DEFENSE_ANIM "units/orcs-snow/grunt2.png" "units/orcs-snow/grunt2.png" {SOUND_LIST:ORC_HIT}}

    {MELEE_ANIM bayonet spear.ogg spear-miss.ogg}
    {GUN_ANIM rifle {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
