#textdomain wesnoth-SE
[unit_type]
    id=SE_Orcish_Grunt3
    name= _ "Orcish Stormtrooper Commander"
    race=orc
    gender=male
    image="units/orcs-snow/grunt3.png"
    hitpoints=72
    movement_type=orcishfoot
    movement=5
    [trait]
        id=unpoisonable
        availability="musthave"
        male_name= _ "immune to poison"
        female_name= _ "female^immune to poison"
        description= _ "Immune to poison"
        help_text= _ "Naga Vipers developed a notable immunity to poison due to constant contact with the poisoned arrows they use."
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
    [/trait]
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=150 
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    level=3
    alignment=chaotic
    advances_to=null 
    {AMLA_DEFAULT}
    cost=40
    usage=fighter
    description= _ ""
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=trench club
        description= _ "trench club"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=13
        number=3
    [/attack]
    [attack]
        name=trench knife
        description= _ "trench knife"
        icon=attacks/blank-attack.png
        type=blade
        range=melee
        damage=10
        number=4
    [/attack]
    [attack]
        name=pistol
        description=_"pistol"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=6
        number=3
    [/attack]

    {DEFENSE_ANIM "units/orcs-snow/grunt3.png" "units/orcs-snow/grunt3.png" {SOUND_LIST:ORC_HIT}}

    {MELEE_ANIM "trench club" club.ogg {SOUND_LIST:MISS}}
    {MELEE_ANIM "trench knife" dagger-swish.wav {SOUND_LIST:MISS}}
    {GUN_ANIM pistol revolver.ogg {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
