#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Battle_Fairy
    name= _ "Elvish Battle Fairy"
    race=elf
    gender=female
    image="units/elves-snow/shaman2b.png"
    hitpoints=43
    movement_type=woodlandfloat
    movement=6
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=82
    level=2
    alignment=neutral
    advances_to=SE_Elvish_Battle_Sylph
    cost=34
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    [attack]
        name=grenade
        description=_"grenade"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    {DEFENSE_ANIM "units/elves-snow/shaman2b.png" "units/elves-snow/shaman2b.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    {SE_FLOAT_STANDING_ANIM}
    
    [attack_anim]
        [filter_attack]
            name=grenade
        [/filter_attack]
        missile_start_time=-100
        [missile_frame]
            duration=120
            image="projectiles/bomb.png"
        [/missile_frame]
        [if]
            hits=no
        [/if]
        [else]
            hits=yes
            missile_offset=0~0.8:150
            {FIRE_BURST_SMALL}
        [/else]
        start_time=-445

        [frame]
            image="units/elves-snow/shaman2b.png:120"
        [/frame]
            
        {SOUND:HIT_AND_MISS explosion.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
