#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Battle_Sylph
    name= _ "Elvish Battle Sylph"
    race=elf
    gender=female
    image="units/elves-snow/shaman3b.png"
    hitpoints=54
    movement_type=woodlandfloat
    movement=6
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=150
    level=3
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=50
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    [attack]
        name=grenade
        description=_"grenade"
        icon=attacks/blank-attack.png
        type=impact
        range=ranged
        damage=13
        number=4
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]

    {DEFENSE_ANIM "units/elves-snow/shaman3b.png" "units/elves-snow/shaman3b.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    {SE_FLOAT_STANDING_ANIM}
    
    [attack_anim]
        [filter_attack]
            name=grenade
        [/filter_attack]

        start_time=-445

        missile_start_time=-120

        [missile_frame]
            duration=120
            image="projectiles/bombs.png"
            x=-30~0.0
        [/missile_frame]

        [if]
            hits=yes 
            [grenade1_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=-20
            [/grenade1_frame]
            [grenade2_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=0
            [/grenade2_frame]
            [grenade3_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=20
            [/grenade3_frame]
        [/if]
        [else]
            hits=no 
        [/else]

        [frame]
            image="units/elves-snow/shaman3b.png:100"
            sound=magic-thorns-miss-[1,2].ogg
            offset=0.0
        [/frame]

        {SOUND:HIT_AND_MISS explosion.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=grenade
        [/filter_attack]

        start_time=-445

        missile_start_time=-120

        [missile_frame]
            duration=120
            image="projectiles/bombs.png~FL(horiz)"
            x=30~0.0
        [/missile_frame]

        [if]
            hits=yes 
            [grenade1_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=-20
            [/grenade1_frame]
            [grenade2_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=0
            [/grenade2_frame]
            [grenade3_frame]
                duration=600
                halo="projectiles/fire-burst-small-[1~8].png"
                offset=1.1~1.3
                halo_x=20
            [/grenade3_frame]
        [/if]
        [else]
            hits=no 
        [/else]

        [frame]
            image="units/elves-snow/shaman3b.png:100"
            sound=magic-thorns-miss-[1,2].ogg
            offset=0.0
        [/frame]

        {SOUND:HIT_AND_MISS explosion.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
