#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Captain
    name= _ "Elvish Captain"
    race=elf
    gender=male
    image="units/elves-snow/captain.png"
    hitpoints=50
    movement_type=woodland
    movement=6
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=100
    level=2
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    alignment=neutral
    advances_to=SE_Elvish_Marshal
    cost=40
    usage=mixed fighter
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/blank-attack.png
        type=blade
        range=melee
        damage=6
        number=4
    [/attack]
    [attack]
        name=rifle
        description=_"carbine"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=7
        number=3
    [/attack]

    {DEFENSE_ANIM_RANGE "units/elves-snow/captain.png" "units/elves-snow/captain.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-snow/captain.png" "units/elves-snow/captain.png" {SOUND_LIST:ELF_HIT} ranged }

    {MELEE_ANIM sword {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {GUN_ANIM rifle {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
