#textdomain wesnoth-SE

[unit_type]
    id=SE_Elvish_Light_Cannon
    name= _ "Elvish Light Cannon"
    race=mechanical
    image="units/elves-snow/light-cannon.png"
    hitpoints=37
    [resistance]
        blade=60 
        pierce=60
    [/resistance]
    movement_type=woodland
    [defense]
        shallow_water=80
        reef=80
        swamp_water=70
        flat=80
        sand=80
        forest=60
        hills=70
        mountains=70
        village=80
        castle=80
        cave=80
        frozen=80
        fungus=70
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    movement=5
    experience=45
    level=1
    alignment=neutral
    advances_to=SE_Elvish_Cannon
    cost=17
    usage=archer
    description= _ ""
    die_sound=mace.ogg

    {DEFENSE_ANIM "units/elves-snow/light-cannon.png" "units/elves-snow/light-cannon.png" mace.ogg }

    [attack]
        name=cannon
        description=_"cannon"
        icon=attacks/blank-attack.png	
        type=impact
        accuracy=5
        range=ranged
        damage=7
        number=3
    [/attack]

    {CANNON_ANIM cannon {SOUND_LIST:HOTVIZER} {SOUND_LIST:HOTVIZER} explosion.ogg}
[/unit_type]