#textdomain wesnoth-SE
[unit_type]
    id=SE_Mage3
    name= _ "Mage3"
    race=elf
    gender=male
    image="units/human-snow/mage3.png"
    halo=halo/fire-aura-small.png
    hitpoints=52
    movement_type=smallfoot
    movement=5
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=150
    [abilties]
        {ABILITY_SE_WARMING}
        {ABILITY_CURES}
    [/abilties]
    level=3
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=40
    usage=healer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=fire
        range=melee
        damage=13
        number=1
    [/attack]
    [attack]
        name=fireball
        description=_"fireball"
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=8
        number=4
    [/attack]

    {DEFENSE_ANIM "units/human-snow/mage3.png" "units/human-snow/mage3.png" {SOUND_LIST:ELF_HIT}}
    {MELEE_ANIM staff staff.ogg {SOUND_LIST:MISS}}

    [attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]
        {MISSILE_FRAME_FIREBALL_XY 11 -20}

        start_time=-575
        [frame]
            image="units/human-snow/mage3.png:100"
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
