#textdomain wesnoth-SE
[unit_type]
    id=SE_Mage
    name= _ "Mage"
    race=elf
    gender=male
    image="units/human-snow/mage.png"
    halo=halo/fire-aura-small.png
    hitpoints=28
    movement_type=smallfoot
    movement=5
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=40
    [abilties]
        {ABILITY_SE_WARMING}
        {ABILITY_HEALS}
    [/abilties]
    level=1
    alignment=neutral
    advances_to=SE_Mage2
    cost=17
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=sparkles
        description=_"sparkles"
        icon=attacks/blank-attack.png
        type=fire
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    {DEFENSE_ANIM "units/human-snow/mage.png" "units/human-snow/mage.png" {SOUND_LIST:ELF_HIT}}

     [attack_anim]
        [filter_attack]
            name=sparkles
        [/filter_attack]
        missile_start_time=-100
        [if]
            hits=miss
            [missile_frame]
                image="projectiles/flames-n-[3~1].png:[150,75*2]"
                image_diagonal="projectiles/flames-ne-[3~1].png:[150,75*2]"
                offset=0.0~0.8:150,0.8:75,0.8:75
            [/missile_frame]
        [/if]
        [else]
            hits=yes
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
            [/missile_frame]
            [missile_frame]
                image="projectiles/flames-n-3.png:150"
                image_diagonal="projectiles/flames-ne-3.png"
            [/missile_frame]
        [/else]
        start_time=-300
        [frame]
            image="units/human-snow/mage.png:100"
            sound=fire.wav
        [/frame]
    [/attack_anim]
[/unit_type]
