#textdomain wesnoth-SE
[unit_type]
    [base_unit]
        id=Mage 
    [/base_unit]
    id=SE_Mage
    image="units/human-show/mage.png"
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    advances_to=SE_Mage2 
    cost=16
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    [attack]
    [/attack]
    [attack]
        damage=4
    [/attack]
    [female]
        image="units/human-show/mage+female.png"
    [/female]
[/unit_type]
[unit_type]
    [base_unit]
        id=Red Mage
    [/base_unit]
    id=SE_Mage2
    image="units/human-show/mage.png"
    [abilities]
        {ABILITY_CURES}
    [/abilities]
    advances_to=SE_Mage3
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    [attack]
    [/attack]
    [attack]
        damage=6
    [/attack]
    [female]
        image="units/human-show/mage+female.png"
    [/female]
[/unit_type]
[unit_type]
    [base_unit]
        id=Arch Mage
    [/base_unit]
    image="units/human-show/mage.png"
    id=SE_Mage3
    [abilities]
        {ABILITY_CURES}
        {ABILITY_ILLUMINATES}
    [/abilities]
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    advances_to=null 
    {AMLA_DEFAULT}
    [attack]
    [/attack]
    [attack]
        damage=8
    [/attack]
    [female]
        image="units/human-show/mage+female.png"
    [/female]
[/unit_type]
   