#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Marksman
    name= _ "Elvish Marksman"
    race=elf
    gender=male
    image="units/elves-snow/rifleman2b.png"
    hitpoints=35
    movement_type=woodland
    movement=6
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=100
    level=2
    alignment=neutral
    advances_to=SE_Elvish_Sniper
    {AMLA_DEFAULT}
    cost=20
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=rifle butt
        description=_"rifle butt"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=9
        number=4
    [/attack]

    [attack]
        name=headshot
        description=_"headshot"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=18
        number=1 
        accuracy=20
    [/attack]

    {DEFENSE_ANIM_RANGE "units/elves-snow/rifleman2b.png" "units/elves-snow/rifleman2b.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-snow/rifleman2b.png" "units/elves-snow/rifleman2b.png" {SOUND_LIST:ELF_HIT} ranged }

    {MELEE_ANIM sword {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {GUN_ANIM rifle {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
    {GUN_ANIM headshot {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
