#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Ranger
    name= _ "Elvish Ranger"
    race=elf
    gender=male
    image="units/elves-wood/ranger.png"
    hitpoints=40
    movement_type=woodland
    movement=7
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=70
    level=2
    alignment=neutral
    advances_to=SE_Elvish_Ranger2
    cost=26
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/blank-attack.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]

    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=9
        number=3
    [/attack]

    {DEFENSE_ANIM_RANGE "units/elves-wood/ranger-sword-defend.png" "units/elves-wood/ranger-sword.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-wood/ranger-bow-defend.png" "units/elves-wood/ranger-bow.png" {SOUND_LIST:ELF_HIT} ranged }

    {MELEE_ANIM sword {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS}}
    {GUN_ANIM rifle {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
