#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Rifleman
    name= _ "Elvish Rifleman"
    race=elf
    gender=male
    image="units/elves-snow/rifleman.png"
    hitpoints=30
    movement_type=woodland
    movement=6
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=44
    level=1
    alignment=neutral
    advances_to=SE_Elvish_Ranger, SE_Elvish_Marksman, SE_Elvish_Captain
    cost=17
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_HIT}

    [attack]
        name=bayonet
        description=_"bayonet"
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]
    [attack]
        name=rifle
        description=_"rifle"
        icon=attacks/blank-attack.png
        accuracy=10
        type=pierce
        range=ranged
        damage=7
        number=3
    [/attack]

    {DEFENSE_ANIM_RANGE "units/elves-snow/rifleman.png" "units/elves-snow/rifleman.png" {SOUND_LIST:ELF_HIT} melee }
    {DEFENSE_ANIM_RANGE "units/elves-snow/rifleman.png" "units/elves-snow/rifleman.png" {SOUND_LIST:ELF_HIT} ranged }

    {MELEE_ANIM bayonet spear.ogg spear-miss.ogg}
    {GUN_ANIM rifle {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
[/unit_type]
