#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Scout
    name= _ "Jackalope Cavalryman"
    race=elf
    gender=male
    image="units/elves-snow/scout.png"
    hitpoints=32
    movement_type=woodland
    movement=7
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    [abilities]
    	{ABILITY_SE_JUMP}
    [/abilities]
    experience=45
    level=1
    alignment=neutral
    advances_to=SE_Elvish_Scout2,SE_Elvish_Scout2b
    cost=16
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:BAT_HIT}

    [movement_anim]
        [filter]
            formula="if(self.movement = 1, 1, 0)"
        [/filter]
        [frame]
           image="units/elves-snow/scout.png:150"
           y=50
        [/frame]
    [/movement_anim]

    [attack]
        name=horns
        #textdomain wesnoth-units
        description=_"horns"
        icon=attacks/blank-attack.png
        type=pierce
        range=melee
        damage=12
        number=1
    [/attack]
    [attack]
        name=carbine
        #textdomain wesnoth-units
        description=_"carbine"
        icon=attacks/blank-attack.png
        type=pierce
        range=ranged
        damage=7
        number=2
    [/attack]

    {DEFENSE_ANIM "units/elves-snow/scout.png" "units/elves-snow/scout.png" {SOUND_LIST:BAT_HIT} }
    {GUN_ANIM carbine {SOUND_LIST:RIFLE} {SOUND_LIST:RIFLE_MISS}}
    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
            sound=horse-elf-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
