#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Scout2b
    name= _ "Jackalope Hussar"
    race=elf
    gender=male
    image="units/elves-snow/scout2b.png"
    hitpoints=49
    movement_type=woodland
    movement=7
    [defense]
        frozen=60 
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=100
    level=2
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=29
    usage=scout
    description= _ ""
    die_sound={SOUND_LIST:BAT_HIT}

    [attack]
        name=saber
        #textdomain wesnoth-units
        description=_"saber"
        icon=attacks/blank-attack.png
        type=blade
        range=melee
        damage=7
        number=5
    [/attack]
    [attack]
        name=paw strike
        #textdomain wesnoth-units
        description=_"paw strike"
        icon=attacks/blank-attack.png
        type=impact
        range=melee
        damage=12
        number=2
    [/attack]

    {DEFENSE_ANIM "units/elves-snow/scout2b.png" "units/elves-snow/scout2b.png" {SOUND_LIST:BAT_HIT} }

    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
            sound=horse-elf-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=paw strike
        [/filter_attack]
        start_time=-200
        [frame]
            duration=300
            sound=horse-elf-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
