#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Snow_Sylph
    name= _ "Elvish Snow Sylph"
    race=elf
    gender=female
    image="units/elves-snow/shaman3.png"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=52
    movement_type=woodlandfloat
    movement=6
    [defense]
        frozen=40
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=150
    level=3
    alignment=neutral
    advances_to=null 
    {AMLA_DEFAULT}
    cost=50
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    {DEFENSE_ANIM "units/elves-snow/shaman3.png" "units/elves-snow/shaman3.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    {SE_FLOAT_STANDING_ANIM}

    [attack]
        name=chill tempest
        description=_"chill tempest"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=11
        number=5
        icon=attacks/iceball.png
    [/attack]
    
    [attack_anim]
        [filter_attack]
            name=chill tempest
        [/filter_attack]

        offset=0

        {MISSILE_FRAME_CHILL_TEMPEST 0 -15}

        start_time=-450
       
        [frame]
            image="units/elves-snow/shaman3.png"
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -150}
    [/attack_anim]
[/unit_type]
