#textdomain wesnoth-SE
[unit_type]
    id=SE_Elvish_Snow_Fairy
    name= _ "Elvish Snow Fairy"
    race=elf
    gender=female
    image="units/elves-snow/shaman2.png"
    halo=halo/elven/shyde-stationary-halo[1~6].png:150
    hitpoints=40
    movement_type=woodlandfloat
    movement=6
    [defense]
        frozen=50
    [/defense]
    [movement_costs]
        frozen=1 
    [/movement_costs]
    experience=120
    level=2
    alignment=neutral
    advances_to=SE_Elvish_Snow_Sylph
    cost=34
    usage=archer
    description= _ ""
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}

    {DEFENSE_ANIM "units/elves-snow/shaman2.png" "units/elves-snow/shaman2.png" {SOUND_LIST:ELF_FEMALE_HIT} }
    {SE_FLOAT_STANDING_ANIM}

    [attack]
        name=chill wave
        description=_"chill wave"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=7
        number=5
        icon=attacks/iceball.png
    [/attack]
    
    [attack_anim]
        [filter_attack]
            name=chill wave
        [/filter_attack]

        {MISSILE_FRAME_CHILL_WAVE 0 -12}

        start_time=-450
        [frame]
            image="units/elves-snow/shaman2.png"
            halo=halo/undead/dark-magic-[1~6].png:50
            halo_x,halo_y=0,-12
        [/frame]
        {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -100}
    [/attack_anim]
[/unit_type]
